

/*
Two separate css configurations are used for screen based on Width
should allow for better mobile support/cleaner interface in both situations
*/

@media screen and (max-width: 1000px) {

  #headingName{
    position: relative;
    top:5px;
    left: 5px;
    font-size: 3.5vw;
  }

  .fixedNav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: white;
  }

  #tagLine {
    font-size: 2.5vw;
    position: relative;
    top: 0px;
    left:5px;
  }

  #navMenu{
    white-space: nowrap;
    margin-right: 10%;
  }

}

@media screen and (min-width: 1000px) {

  #headingName{
    position: relative;
    top:60px;
    left:10px;
    font-size: 3.5vw;
  }

    #tagLine {
      font-size: 2.5vw;
      position: relative;
      top: 80px;
      left:10px;
    }

  .fixedNav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 1px solid black;
    background-image: linear-gradient(to bottom left, purple, white);
  }


  #navMenu{
    margin: auto;
    width: 100%;
    top: 40vh;
    left:7vw;

    white-space: nowrap;

    position: relative;
            /*
    flex-basis: 100%;
    margin-left: 6vw;
    margin-right: 6vw;
    */
  }
}
