<!-- HOW THIS WORKS
- The Span navMenu tag contains buttons which reference expansion states of a Bootstrap accordion - this allows content to be loaded a good bit faster than individual page links (obviously)
- The eyeballs are a test and will be reworked to be a changing background gradient based on user cursor position
  -->



<div class = "fixedNav shadow-lg">

<p id = "headingName">Weston Davidson</p>
<p id = "tagLine">Web Developer</p>
<p id = "tagLine2">Audio Engineer</p>
<p id = "tagLine3">SPA Specialist</p>
<p id = "tagLine4">RSAT Assassin</p>
<p id = "tagLine5">WordPress Wizard</p>
<p id = "tagLine7">FL Studio Guru</p>
<p id = "tagLine8">IT Guy</p>


<span id = "navMenu">
    <button type="button" class="buttonstuff btn btn-outline-primary" data-toggle="collapse" data-target="#home"  aria-expanded="true" aria-controls="home" id="homeButton" data-parent="#accordion">About</button>
    <button type="button" class="buttonstuff btn btn-outline-primary" data-toggle="collapse" data-target="#resume" aria-expanded="false" aria-controls="resume" id="resumeButton" data-parent="#accordion">Portfolio</button>
    <button type="button" class="buttonstuff btn btn-outline-primary" data-toggle="collapse" data-target="#contact" aria-expanded="false" aria-controls="contact" id="contactButton" data-parent="#accordion">Contact</button>
</span>

<!--
<span class="eyes">
  <div class="eye">
    <div class="ball"></div>
  </div>

  <div class="eye">
    <div class="ball"></div>
  </div>
</span>
-->
</div>
