.homeCarousel{
  width: 10%;
  background-color: #ffff;
}
@media screen and (min-width: 750px) {
#content{
  position: fixed;
  overflow: auto;
  width: 60%;
  top: 10px;
  left: 35%;
  margin-bottom: 10%;
  margin-right: 5%;
  height: 100%;
}
}

.panel-group{
    margin:0;
}

.panel{
    border:none;
    box-shadow:none;
}

.panel-heading{
    padding:0;
}
