<!--HOW THIS WORKS/NOTES
- A simple Bootstrap accordion to contain all site content
- Makes extensive use of the border-0 bootstrap utility to clean up random accordion border defaults
  -->
<div id="content" class="mt-3 shadow-lg border-0">
<div id="accordion" class="border-0">
  <div class="card">


    <div id="home" class="collapse show border-0" aria-labelledby="home" data-parent="#accordion">
      <div class="card-body border-0">
        <app-about></app-about>
      </div>
    </div>
  </div>
  <div class="card border-0">

    <div id="resume" class="collapse border-0" aria-labelledby="resume" data-parent="#accordion">
      <div class="card-body border-0">
        <app-resume></app-resume>
      </div>
    </div>
  </div>
  <div class="card border-0">

    <div id="contact" class="collapse border-0" aria-labelledby="contact" data-parent="#accordion">
      <div class="card-body border-0">
        <app-contact></app-contact>
      </div>
    </div>
  </div>
</div>
</div>
