<form class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdkBbR0GzMhR4jNeTDXWBm0c0iaC9tlQOnQJvi3be4YJ72Ikw/formResponse" target="_blank">
  <div class="form-group">
    <label for="nameInput" class="mt-2">Name</label>
    <input type="text" class="form-control" id="emailInput" placeholder="Please enter your first and last name" name="entry.2005620554">
    <label for="emailInput" class="mt-2">Email</label>
    <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" name="entry.1045781291">
    <label for="messageInput" class="mt-2">Message</label>
    <textarea class="form-control" id="messageInput" rows="5" name="entry.839337160"></textarea>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </div>

  </form>
