<!--HOW THIS WORKS/NOTES
- Nothing special going on here - simple HTML, no need to go crazy
  -->
<h1>About Me</h1>
<img src="/assets/website-images/professional_image.jpg" class="img-thumbnail" />
<p>Thank you for visiting my portfolio. I will be conferred a Bachelor of Science in Information Technology from Daytona State College by August 19th, 2020. I am currently pursuing a career in either Front-End Web Development or Audio Engineering.</p>

<p>My current goal within the IT field is to become a full-stack MEAN developer, or work within a similar stack. I have a strong propensity for quick learning and am very willing to adapt to the technological needs of the company I am given the privilege of working for.<p>

<p>I have a well-rounded set of skills, with a specialization in Single-Page Application architecture. I am knowledgeable in Angular, TypeScript, HTML, JavaScript, and CSS. I have additional experience with Git, Git BASH, NPM, and the WordPress CMS.</p>

<p>Outside of the realm of web development, I have a large amount of work-related experience using Active Directory, PowerShell, SysAid, Exchange Administration Center, and multiple features of the Remote Server Administration Tools package. I am most familiar with the PeopleSoft ERP.</p>

<p>I also have extensive experience within the realm of Audio Engineering, with experience writing, mixing, and mastering music, as well as creating compositions for video projects and developing unique sounds via synthesis. If your project or company produces multimedia, I will be happy to offer services in this area as well as within IT.</p>

<p>The world of IT is constantly evolving, and I understand the importance of keeping up with the latest and greatest in developer tools and security flaws. I feel that I am an ideal candidate for any company that wants someone who is willing to learn new important functions of a system and wants to ensure that their IT department is future-proof.</p>

<a href="../assets/Weston_Davidson_IT_Resume.pdf" download>
<br/><button mat-raised-button color="primary">Resume Download (Information Technology)</button>
</a>
<br/>
<a href="../assets/Weston_Davidson_Audio_Engineer_Resume.pdf" download>
<br/><button mat-raised-button color="primary">Resume Download (Audio Engineering)</button>
</a>
