<!--HOW THIS WORKS/NOTES
- Nothing special going on here - simple HTML, no need to go crazy
  -->
<h2>About</h2>
<p> I will be finishing my BS in Information Technology this year, and am currently seeking employment in Front-End Web Development.</p>

<p>I have a well-rounded set of skills, with a specialization in Single-Page Application architecture. I am knowledgeable in Angular, TypeScript, HTML, JavaScript, and CSS. I have some additional familiarity with the Wordpress CMS.</p>

<p>Outside of the realm of web development, I have a large amount of work-related experience using Active Directory, Powershell, SysAid, Exchange Administration Center, and multiple features of the Remote Server Administration Tools package. I am most familiar with the PeopleSoft ERP.</p>

<p>The world of IT is constantly evolving, and I understand the importance of keeping up with the latest and greatest in developer tools and security flaws. I feel that I am an ideal candidate for any company that wants someone who is willing to learn new important functions of a system, and wants to ensure that their IT department is future-proof.</p>
<a href="../assets/Weston_Davidson_Resume.pdf" download>
<br/><button mat-raised-button color="primary">Resume Download</button>
</a>
