@media screen and (min-width: 1000px) {

.img-thumbnail{
  float:right;
  width: 30%;
  height: 30%;
  margin: 10px;
  display: inline-block;

}


}
@media screen and (max-width: 1000px) {

.img-thumbnail{
  display: none;
}

}
